/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace; /* Font monospazio per un effetto tecnico */
    background: linear-gradient(135deg, #1c1c1c, #2c2c2c); /* Sfondo scuro con gradiente */
    color: #e0e0e0; /* Testo chiaro per contrasto */
    padding-top: 50px; /* Spazio per il menu fisso in cima */
}

header {
    background: linear-gradient(135deg, #0a0a0a, #3b3b3b); /* Sfondo con gradiente scuro */
    color: #00ff00; /* Colore del testo verde neon */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5); /* Effetto neon per l'header */
}

nav {
    background-color: #222; /* Colore scuro per il menu di navigazione */
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #00ff00; /* Bordi per il menu */
    box-shadow: 0 2px 10px rgba(0, 255, 0, 0.3); /* Effetto neon per il menu */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center; /* Centrato orizzontalmente */
}

nav li {
    margin: 0; /* Rimosso margine dai li */
}

nav a {
    color: #00ff00; /* Colore neon per i link */
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: rgba(0, 255, 0, 0.2); /* Effetto di hover con sfondo luminoso */
}

/* Toolbar Styles */
.toolbar {
    color: #00ff00; /* Colore neon per la toolbar */
    padding: 10px 20px;
    top: 0;
    right: 0;
    width: auto;
    z-index: 999; /* Inferiore rispetto al menu di navigazione */
    display: flex;
    justify-content: flex-end; /* Icone posizionate a destra */
    /* Fissare la toolbar in alto */
}

.toolbar a {
    text-decoration: none;
    color: #00ff00;
    margin-left: 20px;
}

.toolbar img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.image-right {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 255, 0, 0.3); /* Effetto neon per le immagini */
}

.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
    position: relative;
    z-index: 1; /* Assicurati che il contenuto sia sopra il fondo */
    overflow-y: auto;
    overflow-x: auto;
}

#content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#content p {
    text-align: justify;
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0; /* Rimosso il padding per allineare meglio gli elementi */
    margin: 0; /* Rimosso il margin per evitare spazi indesiderati */
}

#content img {
    max-width: 100%; /* Corretto per adattare le immagini alla larghezza del contenitore */
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Effetto neon per le immagini */
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #00ff00;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5); /* Effetto neon per il footer */
}

.convert-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.convert-link:hover {
    background-color: #00cc00;
    color: #fff;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Video Styles */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Mantieni il rapporto di aspetto 16:9 */
    background: #000; /* Background per video container */
    border: 2px solid #00ff00; /* Neon green border */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5); /* Neon effect */
    margin: 0 auto; /* Centrato orizzontalmente */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media query per dispositivi con larghezza massima di 600px */
@media only screen and (max-width: 600px) {
    .video-container {
        padding-bottom: 75%; /* Adatta il rapporto di aspetto per visualizzazione mobile */
    }
}
